<a href="https://colab.research.google.com/github/TASAHU18/Python-Exercises/blob/master/DatetimeWithPandasDF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [130]:
# Import required modules
import pandas as pd
import numpy as np

data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'age': [42, 52, 36, 24.0, 73], 
        'preTestScore': [4.0, 24, 31, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70],
        'Date': ['2010-02-10', '2012-11-02','2012-12-15','2016-12-02','2020-01-02'],
        'DueDate': ['2012-02-10', '2014-11-02','2012-12-15','2019-12-02','2020-01-02']}
df = pd.DataFrame(data, columns = ['name', 'age', 'preTestScore', 'postTestScore', 'Date', 'DueDate'])
print(df.head(), '\n\n\n', 'Field DataType', '\n', df.dtypes)

    name   age  preTestScore  postTestScore        Date     DueDate
0  Jason  42.0           4.0             25  2010-02-10  2012-02-10
1  Molly  52.0          24.0             94  2012-11-02  2014-11-02
2   Tina  36.0          31.0             57  2012-12-15  2012-12-15
3   Jake  24.0           2.0             62  2016-12-02  2019-12-02
4    Amy  73.0           3.0             70  2020-01-02  2020-01-02


 Field DataType
 name              object
age              float64
preTestScore     float64
postTestScore      int64
Date              object
DueDate           object
dtype: object

In [131]:
df['Date'] = pd.to_datetime(df['Date'])
df['DueDate'] = pd.to_datetime(df['DueDate'])
print(df.dtypes)

name                     object
age                     float64
preTestScore            float64
postTestScore             int64
Date             datetime64[ns]
DueDate          datetime64[ns]
dtype: object

In [132]:
for col in df.select_dtypes(include = 'datetime64[ns]').columns:
  df[col] = df[col].dt.date
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
name             5 non-null object
age              5 non-null float64
preTestScore     5 non-null float64
postTestScore    5 non-null int64
Date             5 non-null object
DueDate          5 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 368.0+ bytes
None

In [133]:
df.head()

    name   age  preTestScore  postTestScore        Date     DueDate
0  Jason  42.0           4.0             25  2010-02-10  2012-02-10
1  Molly  52.0          24.0             94  2012-11-02  2014-11-02
2   Tina  36.0          31.0             57  2012-12-15  2012-12-15
3   Jake  24.0           2.0             62  2016-12-02  2019-12-02
4    Amy  73.0           3.0             70  2020-01-02  2020-01-02